@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.my-container {
  max-width: 1320px;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
}

.blue-box {
  background: url(/images/bg-head-main.webp) no-repeat top center;
  background-size: 100%;
  padding: 0;
  position: relative;
}
@media (max-width: 767px) {
  .blue-box {
      background: url(/images/bg-head-main-mobile.webp) no-repeat top center;
      margin-bottom: 50px;
  }
}
.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background: url(/images/bgsteps.webp) no-repeat center center;
  background-size: auto;
  background-size: cover;
  width: 100%;
  max-width: 968px;
  min-height: 391px;
  margin-top: 100px;
}
.step {
  width: 271px;
  height: 271px;
  padding-top: 60px;
  background: url(/images/stepbg.webp) no-repeat center center;
  background-size: auto;
  background-size: contain;
}

.image-section {
  background: url(/images/help-bg.webp) no-repeat 0 0;
  background-size: cover;
  padding: 250px 0 160px;
  position: relative;
}